body {
  margin: 0;
  padding: 0;
}

nav {
  height: fit-content;
  background-color: bisque;
  text-align: center;
  font-size: 5rem;
}

.grid-container {
  display: grid;
  grid-template-columns: 30% 70%;
  height: 100vh;
}

/* Project style */

.project-container {
  background-color: rgb(195, 204, 204);
}

.project-container-title {
  display: flex;
  flex-wrap: wrap;
  background-color: coral;
}

.project-container-title h3 {
  flex-grow: 6;
}

.project-container-title button {
  flex-grow: 1;
}

.single-project-container {
  display: flex;
  flex-wrap: wrap;
}

.single-project-container h3 {
  flex-grow: 6;
}

.single-project-container button {
  flex-grow: 1;
}

/* Task Style */

.tasks-container {
  background-color: rgb(216, 236, 195);
  display: flex;
  flex-direction: column;
  align-items: center;
}
